# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

In [2]:
import numpy as np

import pandas as pd

# Challenge 1 - Independent Sample T-tests

In this challenge, we will be using the Pokemon dataset. Before applying statistical methods to this data, let's first examine the data.

To load the data, run the code below.

In [3]:
pokemon = pd.read_csv('../pokemon.csv')

Let's start off by looking at the `head` function in the cell below.

In [6]:
pokemon.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

The first thing we would like to do is compare the legendary Pokemon to the regular Pokemon. To do this, we should examine the data further. What is the count of legendary vs. non legendary Pokemons?

In [24]:
legendary=pokemon[pokemon.Legendary==True]
regular=pokemon[pokemon.Legendary==False]
legendary.Legendary.count(), regular.Legendary.count()

(65, 735)

Compute the mean and standard deviation of the total points for both legendary and non-legendary Pokemon.

In [28]:
legendary.Total.mean(), legendary.Total.std()

(637.3846153846154, 60.93738905315346)

In [29]:
regular.Total.mean(), regular.Total.std()

(417.21360544217686, 106.76041745713022)

The computation of the mean might give us a clue regarding how the statistical test may turn out; However, it certainly does not prove whether there is a significant difference between the two groups.

In the cell below, use the `ttest_ind` function in `scipy.stats` to compare the the total points for legendary and non-legendary Pokemon. Since we do not have any information about the population, assume the variances are not equal.

In [56]:
from scipy.stats import f_oneway, norm, f, chi2, chi2_contingency
from scipy.stats import ttest_ind
from scipy.stats import stats

In [33]:
ttest_ind(legendary.Total, regular.Total)

Ttest_indResult(statistic=16.386116965872425, pvalue=3.0952457469652825e-52)

What do you conclude from this test? Write your conclusions below.

In [34]:
# Your conclusions here: Son independientes, puesto que el pvalor es 0, por tanto rechazamos H0(dependientes).

How about we try to compare the different types of pokemon? In the cell below, list the types of Pokemon from column `Type 1` and the count of each type.

In [37]:
pokemon['Type 1'].value_counts()

Water       112
Normal       98
Grass        70
Bug          69
Psychic      57
Fire         52
Electric     44
Rock         44
Dragon       32
Ground       32
Ghost        32
Dark         31
Poison       28
Steel        27
Fighting     27
Ice          24
Fairy        17
Flying        4
Name: Type 1, dtype: int64

Since water is the largest group of Pokemon, compare the mean and standard deviation of water Pokemon to all other Pokemon.

In [45]:
water=pokemon[pokemon['Type 1']=='Water']
other=pokemon[pokemon['Type 1']!='Water']

In [46]:
water.Total.mean(), water.Total.std()

(430.45535714285717, 113.18826606431458)

In [47]:
other.Total.mean(), other.Total.std()

(435.85901162790697, 121.09168230208066)

Perform a hypothesis test comparing the mean of total points for water Pokemon to all non-water Pokemon. Assume the variances are equal.

In [76]:
other_sample=other.sample(112)
other_sample.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
510,460,Abomasnow,Grass,Ice,494,90,92,75,92,85,60,4,False
504,454,Toxicroak,Poison,Fighting,490,83,106,65,86,65,85,4,False
99,92,Gastly,Ghost,Poison,310,30,35,30,100,35,80,1,False
491,443,Gible,Dragon,Ground,300,58,70,45,40,45,42,4,False
200,185,Sudowoodo,Rock,NaN,410,70,100,115,30,65,30,2,False

In [77]:
stats.ttest_rel(other_sample.Total, water.Total)

Ttest_relResult(statistic=-0.5387220937936735, pvalue=0.5911574066665048)

Write your conclusion below.

In [78]:
# Your conclusions here: No rechazamos H0. Esto significa que agua comparado con los otros la media de puntos totales es igual.

# Challenge 2 - Matched Pairs Test

In this challenge we will compare dependent samples of data describing our Pokemon. Our goal is to see whether there is a significant difference between each Pokemon's defense and attack scores. Our hypothesis is that the defense and attack scores are equal. In the cell below, import the `ttest_rel` function from `scipy.stats` and compare the two columns to see if there is a statistically significant difference between them.

In [79]:
from scipy.stats import ttest_rel

In [93]:
pokemon.Attack.mean(), pokemon.Defense.mean()

(79.00125, 73.8425)

In [82]:
ttest_rel(pokemon.Attack, pokemon.Defense)

Ttest_relResult(statistic=4.325566393330478, pvalue=1.7140303479358558e-05)

Describe the results of the test in the cell below.

In [83]:
# Your conclusions here: P-valor es cercano a 0, por lo que rechazo H0(ataque y defense son diferentes)

We are also curious about whether therer is a significant difference between the mean of special defense and the mean of special attack. Perform the hypothesis test in the cell below.

In [92]:
ttest_ind(pokemon['Sp. Atk'], pokemon['Sp. Def']) # son dependientes.

Ttest_indResult(statistic=0.6041290031014401, pvalue=0.5458436328840358)

In [91]:
pokemon['Sp. Atk'].mean(), pokemon['Sp. Def'].mean()

(72.82, 71.9025)

In [90]:
ttest_rel(pokemon['Sp. Atk'], pokemon['Sp. Def'])

Ttest_relResult(statistic=0.853986188453353, pvalue=0.3933685997548122)

Describe the results of the test in the cell below.

In [14]:
# Your conclusions here: no rechazo H0(que la medias sean diferentes). Es decir, con un 95% de confianza, podriamos decir que las medias no son significativamente diferentes.

As you may recall, a two sample matched pairs test can also be expressed as a one sample test of the difference between the two dependent columns.

Import the `ttest_1samp` function and perform a one sample t-test of the difference between defense and attack. Test the hypothesis that the difference between the means is zero. Confirm that the results of the test are the same.

In [95]:
from scipy.stats import ttest_1samp

In [101]:
t_test=ttest_1samp(pokemon.Attack - pokemon.Defense, 79.00125 - 73.8425)
    
t_test

Ttest_1sampResult(statistic=2.2341893231129053e-15, pvalue=0.9999999999999982)

In [ ]:
# No rechazo H0 (que sean diferentes)

# Bonus Challenge - The Chi-Square Test

The Chi-Square test is used to determine whether there is a statistically significant difference in frequencies. In other words, we are testing whether there is a relationship between categorical variables or rather when the variables are independent. This test is an alternative to Fisher's exact test and is used in scenarios where sample sizes are larger. However, with a large enough sample size, both tests produce similar results. Read more about the Chi Squared test [here](https://en.wikipedia.org/wiki/Chi-squared_test).

In the cell below, create a contingency table using `pd.crosstab` comparing whether a Pokemon is legenadary or not and whether the Type 1 of a Pokemon is water or not.

Perform a chi-squared test using the `chi2_contingency` function in `scipy.stats`. You can read the documentation of the function [here](https://docs.scipy.org/doc/scipy-0.15.1/reference/generated/scipy.stats.chi2_contingency.html).

Based on a 95% confidence, should we reject the null hypothesis?

In [19]:
# Your answer here: